* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  
}

/* header */
.header{
  background-color: rgb(223, 85, 61);
  color: white;
  height: 80px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

.globe{
  height: 30px;
  padding-right: 5px;
}


/* card */
.card{
  height: 350px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.048); /* subtle shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px); /* hover lift */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* deeper shadow on hover */
}

.cardImage{
  width: 250px;
  height: 90%;
  border-radius: 10px;
  margin: 15px;
  box-sizing: border-box;
}

.card--txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card--location{
  display: flex;
  gap: 8px;
}

.card h1 {
  padding-bottom: 5px;
}

.card--date{
  padding-bottom: 6px;
}

.pinImg{
  height: 20px;
}
